h1{
  font-family: 'Cookie', cursive;
  text-align: center;
}

.art{
  margin: auto;
}

td{
  border: 10px solid white;
  height: 500px;
  width: 250px;
}

#one{
  background-color: #EAE8FF;
}

#two{
  background-color: #D8D5DB;
}

#three{
  background-color: #ADACB5;
}

#four{
  background-color: #2D3142;
}

#five{
  background-color: #B0D7FF;
}
